:root {
	--primary-color: #5C005C;
	--secondary-color: #FFB8FF;
}

@font-face {
	font-family: 'Sofia'; /* Choose a unique name for your font */
	src: url('/assets/fonts/Sofia/Sofia-Regular.ttf') format('truetype'); /* Specify the path to your .ttf file */
	font-weight: normal; /* Optional: Define font weight if applicable */
	font-style: normal; /* Optional: Define font style if applicable */
}

body {
	background-color: #cccccc;
	font-family: sans-serif;
	height: 100%;
	margin: 0;
}

html {
	height: 100%;
}