.login-page {
}

.login-page .card {
	background-color: #ffffff;
	border-radius: 1em;
	filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
	margin: 2em;
	padding: 2em;
	position: relative;
}

.login-page .form {
	margin: 0 auto;
}

.login-page .form input {
	display: block;
	margin: 0 auto;
	margin-bottom: 1em;
}

.login-page .form .login-submit {
	margin: 0 auto;
}

.login-page .logo {
	color: var(--primary-color);
	font-family: "Sofia";
	font-size: 4em;
	font-style: italic;
	font-weight: 600;
	text-align: center;
}