.positions-page {
	height: 100%;
	margin-top: 8em;
}

.positions-page .card {
	align-items: center;
	background-color: #ffffff;
	border-radius: 1em;
	display: flex;
	filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
	height: calc(100% - 8em);
	margin: 2em;
	padding: 2em;
	position: relative;
}

.positions-page .card .respond {
	background-color: var(--secondary-color);
	border-radius: 4em;
	color: #ffffff;
	font-weight: bold;
	height: 8em;
	line-height: 8em;
	position: absolute;
	text-align: center;
	width: 8em;
}

.positions-page .card .respond.agree {
	right: 2em;
	top: calc(50% - 4em);
}

.positions-page .card .respond.chat {
	left: calc(50% - 4em);
	top: 2em;
}

.positions-page .card .respond.disagree {
	left: 2em;
	top: calc(50% - 4em);
}

.positions-page .card .respond.pass {
	bottom: 100px;
	left: calc(50% - 4em);
}

.positions-page .card .statement {
	font-size: 3em;
	padding: 0 4em;
}

.positions-page .header {
	left: 0px;
	position: fixed;
	top: 0px;
	z-index: 100;
}