.other-chat-bubble {
	background-color: var(--primary-color);
	border-radius: 1em;
	clear: both;
	color: #ffffff;
	float: left;
	margin: 0.5em;
	margin-left: 4em;
	padding: 1em;
	position: relative;
}

.other-chat-bubble .user {
	background-color: #ff0000;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 1em;
	box-sizing: border-box;
	color: var(--primary-color);
	height: 2em;
	margin-top: 0.5em;
	margin-left: 1em;
	position: absolute;
	left: -4em;
	top: 0;
	width: 2em;
}