.self-chat-bubble {
	background-color: var(--secondary-color);
	border-radius: 1em;
	clear: both;
	float: right;
	margin: 0.5em;
	margin-right: 4em;
	padding: 1em;
	position: relative;
}

.self-chat-bubble .user {
	background-color: #0099ff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 1em;
	box-sizing: border-box;
	color: var(--primary-color);
	height: 2em;
	margin-top: 0.5em;
	margin-right: 1em;
	position: absolute;
	right: -4em;
	top: 0;
	width: 2em;
}
